<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>شبیه کی هستی ؟</title>
</head>
<body>
<main>
    <h2 id="main-heading">شبیه کدوم سلبریتی هستی !!؟</h2>

    <form action="/upload" id="upload_form">
        <div id="upload-btn" class="dropzone"></div>
    </form>

    <ul id="social">
        <li>
            <a href="#">
                <img src="./static/css/images/facebook.svg" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="./static/css/images/telegram.svg" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="./static/css/images/instagram.svg" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="./static/css/images/linkedin.svg" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="./static/css/images/twitter.svg" alt="">
            </a>
        </li>
    </ul>
    <div id="result">
        <img src="" alt="" id="cel_image">
        <h3 id="cel_title"></h3>
    </div>
</main>

<script type="module" src="static/dist/main.js"></script>
</body>
</html>