<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>شبیه کی هستی ؟</title>
</head>
<body>
<main>
    <h2 id="main-heading">شبیه کدوم سلبریتی هستی !!؟</h2>

    <form action="/upload" id="upload_form" class="dropzone">
        <div class="dz-message" data-dz-message><span>عکست رو انتخاب کن</span></div>
    </form>

    <div id="result">
        <img src="" alt="" id="cel_image">
        <h3 id="cel_title"></h3>
    </div>
</main>

<script type="module" src="static/dist/main.js"></script>
</body>
</html>